  :root {
    --primary: #e8e8e8;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }

*,
*::before,
*::after {
-webkit-box-sizing: border-box;
box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  background-color: #f7f9fa;
  }

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px; }
  }

@media (min-width: 768px) {
  .container {
    max-width: 720px; }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px; }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; }
}


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* style scrollbar'a */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccb78f;
  box-shadow: rgb(255, 255, 255);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
  box-shadow: rgb(255, 255, 255);
}

/* stopka */

footer i {
  float: right;
  margin-right: 2%;
}

footer hr {
  border-bottom: #f4f4f4 1px solid;
}

.email {
  color: #ccb78f;
}

.footer-template {
  font-size: 14px;
  background: #242423;
  padding-top: 6em;
  padding-bottom: .5em;
}

.footer-template .footer-template-widget h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase; }

.footer-template p, a {
  color: rgba(255, 255, 255, 0.5);
}

.footer-template a:hover p:hover {
  color: #ccb78f;
  text-decoration: none;
}

.icon-search:before {
  content: "\f002";
}

/* navbar */

#aside {
  padding-top: 3em;
  padding-bottom: 40px;
  padding-left: 3em;
  padding-right: 3em;
  width: 18%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.04);
}

  @media (min-width: 992px) {
    #aside {
      width: 18%; }
    }

  @media (max-width: 991.98px) {
    #aside {
      width: 270px;
      transform: translateX(-270px);
      padding-top: 2em;
      background: rgba(0, 0, 0, 0.04); }
    }

#aside #logo {
  margin-bottom: 1.5em;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
}

#aside #logo span.img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
}

  @media (max-width: 991.98px) {
    #aside #logo {
      margin-bottom: 20px; } }

#aside #logo a {
  display: inline-block;
  text-align: center;
  color: #000000;
 }

#aside #main-menu ul {
  margin: 0;
  padding: 0;
 }

#aside #main-menu ul li {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
}

#aside #main-menu ul li a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  font-family:sans-serif;
}

#aside #main-menu ul li a:after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: #ccb78f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#aside #main-menu ul li a:hover {
  text-decoration: none;
  color: #ccb78f;
}

#aside #main-menu ul li a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#aside #main-menu ul li.active a {
  color: #000000;
}

#aside #main-menu ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#main {
  width: 100%;
  float: right;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

    @media (min-width: 992px) {
      #main {
        width: 82%; }
      }

/*nagłówki*/

.ecg-bread {
background: #ccb78f !important;
padding: 4em 1.8em !important;
 }


.ecg-bread .breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  z-index: 99; }


.ecg-bread .breadcrumbs span {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  color: black; }


.ecg-bread .breadcrumbs span a {
  color: rgba(0, 0, 0, 0.5);
    text-decoration: none; }

.ecg-bread .breadcrumbs span a:hover {
  color: rgba(0, 0, 0, 0.9);
}


.ecg-bread .bread {
  font-weight: 700;
  color: #000000;
  margin-bottom: 0; }


/* karuzela strona główna */
.carousel-wrap {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  position: relative;
  z-index: 0; }

.carousel-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  z-index: 0;
}

.carousel-wrap .author-info, .carousel-wrap .author-image {
  width: 50%;
}

  @media (max-width: 767.98px) {
    .carousel-wrap .author-info, .carousel-wrap .author-image {
      width: 30%; }
    }

.carousel-wrap .author-info {
  overflow-y: scroll;
}

  @media (max-width: 767.98px) {
    .carousel-wrap .author-info {
      width: 70%; }
    }

.carousel-wrap .author-image .author-img {
  width: 100%;
}

.carousel-wrap .text {
  position: relative;
}

.carousel-wrap .text .desc h1.big-letter {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  color: #ededed;
  z-index: -1;
  font-size: 70px;
  line-height: 1;
}

.carousel-wrap .text {
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
}

.carousel-wrap .text .img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.carousel-wrap .text .subheading {
  font-size: 24px;
  color: #bfbfbf;
  font-weight: 400;
}

.carousel-wrap .text h1 {
  letter-spacing: 1px;
  font-weight: 900;
  color: #ccb78f;
}

.carousel-wrap .text h1 span {
  color: #000000;
}

  @media (max-width: 991.98px) {
    .carousel-wrap .text h1 {
      font-size: 22px; }
    }

.carousel-wrap .text .btn-custom {
  font-weight: 400;
  color: #b3b3b3;
  border-bottom: 2px solid #b3b3b3;
}

/* boxy */

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  margin-bottom: 150px;
}

.box i {
  font-size: 45px;
}


.title {
  margin-top: 70px;
  margin-bottom: 70px;
}

/* materialy */

.u-clearfix:before,
.u-clearfix:after {
content: " ";
display: table;
}

.u-clearfix:after {
clear: both;
}

.u-clearfix {
*zoom: 1;
}

.subtle {
color: #aaa;
}

.card-container {
margin: 25px auto 0;
position: relative;
width: 550px;
}

.card {
background-color: #fff;
padding: 30px;
box-shadow: 0 0 5px rgba(75, 75, 75, .07);
z-index: 1;
}

.card-body {
display: inline-block;
float: left;
width: 210px;
height: 350px;
}

.card-number {
margin-top: 5px;
}

.card-circle {
border: 1px solid #aaa;
border-radius: 50%;
display: inline-block;
line-height: 22px;
font-size: 12px;
height: 25px;
text-align: center;
width: 25px;
}

.card-title {
font-family: 'Cormorant Garamond', serif;
font-size: 30px;
font-weight: 250;
line-height: 40px;
}

.card-description {
display: inline-block;
font-weight: 300;
line-height: 22px;
margin: 10px 0;
}

.card-read{
cursor: pointer;
font-size: 14px;
font-weight: 700;
letter-spacing: 6px;
margin: 5px 0 20px;
position: relative;
text-align: right;
text-transform: uppercase;
}

.card-read:after {
background-color: #b8bddd;
display: block;
height: 1px;
position: absolute;
top: 9px;
width: 75%;
}

.card-tag {
float: right;
margin: 5px 0 0;
}

.card-media {
float: right;
}

.card-shadow {
background-color: #fff;
box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
height: 1px;
margin: -1px auto 0;
width: 80%;
z-index: -1;
}

.ecg-section {
padding: 5em 1.8em;
  position: relative;
}

  @media (max-width: 991.98px) {
    .ecg-section {
      padding: 3em 0;
      }
    }

.ecg-section-no-padding {
  padding: 0;
}

.ecg-section-3 {
  padding: 1.8em;
}

.materials {
width: 100%;
display: block;
background: #f7f9fa;
}

.materials .icon {
  line-height: 1.3;
  position: relative;
  width: 100px;
  height: 100px;
  background: #ededed;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.materials .icon span {
  color: #000000; }

.materials .media-body h3 {
  font-weight: 600;
  font-size: 20px; }

.icon i {
  width: 100px;
  height: 100px;
  margin-left: 55px;
  margin-top: 30px;
  color: #ccb78f;
}

.fa {
  font-size: 18px;
}

.icon-box {
  text-decoration: none;
}

.icon-box {
  background-color: #f7f9fa;
  position: relative;
  color: #000;
  font-size: 20px;
  height: 45px;
  width: 70%;
  padding: 5px;
  display: inline-block;
  border: 2px solid #000;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.icon-box-index {
  background-color: var(--primary);
  position: relative;
  color: #000;
  font-size: 20px;
  height: 45px;
  width: 70%;
  padding: 5px;
  display: inline-block;
  border: 2px solid #000;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.icon-box-white {
  background-color: white;
  position: relative;
  color: #000;
  font-size: 20px;
  height: 45px;
  width: 70%;
  padding: 5px;
  display: inline-block;
  border: 2px solid #000;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}


.icon-box:hover, .icon-box-white:hover, .icon-box-index:hover {
  box-shadow: inset 0 50px 0 0 #000;
  color: #ccb78f;
}

.arcive-entry {
  margin-bottom: 6em; }
  @media (max-width: 767.98px) {
    .arcive-entry {
      margin-bottom: 4em; } }
  .arcive-entry .img {
    display: block;
    height: 300px;
    width: 100%; }
    @media (min-width: 992px) {
      .arcive-entry .img {
        width: 50%; } }
  .arcive-entry .text {
    position: relative;
    z-index: 0;
    width: 100%; }
    @media (min-width: 992px) {
      .arcive-entry .text {
        width: 50%; } }
    .arcive-entry .text h3 {
      font-weight: 400;
      font-size: 28px; }
      .arcive-entry .text h3 a {
        color: #000000; }
    .arcive-entry .text .meta-wrap {
      width: 100%;
      display: block; }
      .arcive-entry .text .meta-wrap .meta span {
        font-size: 14px;
        margin: 0 10px 0 0;
        color: #bfbfbf; }
        .arcive-entry .text .meta-wrap .meta span a {
          color: #000000; }
  .arcive-entry .text-2 h3 {
    font-size: 18px;
    font-weight: 700; }

    .btn-custom {
      font-weight: 400;
      color: #b3b3b3;
      border-bottom: 2px solid #b3b3b3; }


.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px; }

.block-21 .text {
  width: calc(100% - 100px); }
  .block-21 .text .heading {
    font-size: 16px; }
    .block-21 .text .heading a {
      color: #000000; }
      .block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
        color: #ccb78f; }
  .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .block-21 .text .meta > div a {
      color: gray; }

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  background-color: var(--primary);}
  .sidebar-box h3.sidebar-heading {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px; }
  @media (max-width: 767.98px) {
    .sidebar-box {
      padding: 0; } }

.categories, .sidelink {
  padding: 0; }
  .categories li, .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    list-style: none; }
    .categories li:last-child, .sidelink li:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0; }
    .categories li a, .sidelink li a {
      display: block;
      color: #000000; }
      .categories li a span, .sidelink li a span {
        position: absolute;
        right: 0;
        top: 0;
        color: #ccc; }
    .categories li.active a, .sidelink li.active a {
      color: #000000;
      font-style: italic; }

      .btn-custom {
      font-weight: 400;
      color: #b3b3b3;
      border-bottom: 2px solid #b3b3b3; }

      .archives-list .categories li {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding: 5px 0; }
          .ftco-footer .categories li a {
            color: rgba(255, 255, 255, 0.5) !important; }
            .ftco-footer .categories li a span {
              color: rgba(255, 255, 255, 0.8) !important; }

.next {
  margin-left: auto;
  margin-right: auto;
}

.next a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font-weight: 700;
    background-color: #f7f9fa;
}

.next a:hover  {
  box-shadow: inset 0 50px 0 0 #ccb78f;
  color: #f7f9fa;
}

.next .round_active  {
  background-color: #ccb78f;
  color: #f7f9fa;
}


.round  {
  background-color: #f7f9fa;
  color: #f7f9fa;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
    background-color: #fff;
    border: 1px solid #ccb78f;
    color: #ccb78f;
    border-radius: 50%;
}


.social {
  padding: 0; }

  .social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block; }

    .social li a {
      height: 75px;
      width: 75px;
      display: block;
      float: left;
      background: white;
      border-radius: 50%;
      position: relative; }

      .social li a:hover {
      height: 75px;
      width: 75px;
      display: block;
      float: left;
      background: black;
      border-radius: 50%;
      position: relative;
    color: #ccb78f; }

      .social li a span i{
        position: absolute;
        font-size: 45px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #ccb78f;  }


      .materials_title_archives {
        color: #ccb78f;
        font-size: 200%;
        margin-bottom: auto;
        margin-top: 20%;
        margin: auto;
      }

      pre, code {
            border: 1px solid var(--primary);
            background-color: var(--primary);
          }

          pre {
            margin-left: auto;
            margin-right: auto;
          }

          ins {
            color:#ccb78f ;
            background-color: var(--primary);
            text-decoration: none;
          }

          code {
            color:#ccb78f;
            background-color: var(--primary);
            padding: 3px;
            text-decoration: none;
            font-weight: 400;
          }

          .container_archives {
            margin-left: 7%;
            margin-right: 7%;
          }

          .img-archives img{
            width:90%;
            margin-top: 10px;
            margin-bottom: 10px;
          }
