/* header */
.box {
  position: relative;
  height: 600px;
  background-image: url(../images/paralaksa_tlo.png);
  background-size: auto 600px;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.logo {
  height: 55%;
  width: 100%;
  background-image: url(../images/paralaksa_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  bottom: 50%; }

  .first-plan {
    width: 1164px;
    height: 816px;
    resize: horizontal;
    background-image: url(../images/paralaksa_collegium.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;

    margin-left: 0;
    top: -50px; }

  .third-plan {
    width: 960px;
    height: 298px;
    background-image: url(../images/paralaksa_ptaki.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 50%;
    margin-left: -480px; }

  .content {
      position: relative;
      z-index: 2;
      background: white;
      margin-bottom: 400px;
      overflow: hidden;}

    embed {
      height: 100%;
      width: 100%;
    }


  /* footer */
  footer {
    background: black;
    color: white;
    padding: 35px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer-stuff {
    max-width: 640px;
    margin: 0 auto;
  }

  /* materiały */

  #text_editor  {
    visibility: hidden;
  }

  #spreadsheet {
    visibility: hidden;
  }

  #databases  {
    visibility: hidden;
  }

  #graphics  {
    visibility: hidden;
  }

  #internet  {
    visibility: hidden;
  }

  #network  {
    visibility: hidden;
  }

  #C {
    visibility: hidden;
  }

  #python  {
    visibility: hidden;
  }

  #materials  {
    visibility: hidden;
  }

  #other  {
    visibility: hidden;
  }

  .btn-secondary {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    width: 300px;
  }

  i {
    color: rgb(103, 99, 99);
    font-family: sans-serif;
    font-size: 20px;
  }

  i:hover{
    color: rgb(9, 113, 201);
  }
