.materials {
  text-align: center;
  background: #E8E9EB;
  padding: 5em 0; }

.materials-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  max-width: 75em;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.materials-item {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20rem;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem; }
  .materials-item .materials-image {
    display: block;
    width: 100%; }
  .materials-item figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;
    background: rgba(56, 123, 191, 0.75);
    color: #FFFFFF;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: top ease-in-out 250ms;
    -o-transition: top ease-in-out 250ms;
    transition: top ease-in-out 250ms; }
  .materials-item:hover figcaption,
  .materials-item:focus figcaption {
    top: 0; }

.materials-title {
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-bottom: auto; }

.materials-desc {
  display: none; }

@supports (display: grid) {
  .materials-items {
    display: grid;
    grid-template-columns: repeat(10, 1fr); }
    @media (min-width: 30em) {
      .materials-items {
        grid-template-columns: repeat(5, 2fr); } }
  .materials-item.featured {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2; }
  .featured .materials-title {
    font-size: 5rem; }
  .featured .materials-desc {
    display: block; } }

.materials-modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: white;
  box-shadow: 0 0 0 3em rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  display: none; }
  .materials-modal.is-open {
    display: block; }

.modal-close {
  background: white;
  position: fixed;
  left: 1em;
  top: 1em;
  border: 0;
  width: 2em;
  height: 2em;
  padding: 4px 0 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.materials-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center; }


.materials-title-box {
  background: rgba(56, 123, 191, 0.75);
  padding: 3em 0 3em 3em;
  color: white;
  width: 70%; }
  .materials-title-box .materials-title {
    font-size: 3.5rem;
    display: inline-block; }
    .materials-title-box .materials-title::after {
      content: '';
      display: block;
      height: 1px;
      margin: .5em 0;
      background: white;
      width: 100%; }

.materials-subtitle {
  font-size: 1rem; }

.materials-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em; }

.materials-full-width {
  width: 100vw;
  max-width: initial;
  margin: 2em calc(50% - 50vw);
  height: 20vh;
  object-fit: cover; }

@media (min-width: 50em) {
  .materials-pull-left {
    width: 65%;
    float: left;
    margin-right: 2em; }
  .materials-pull-right {
    width: 65%;
    float: right;
    margin-left: 2em; } }

@keyframes modalIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes modalOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }



    .btn-secondary {
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      transition: all ease-in-out 300ms;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      /* inna wersja kolorystyczna */
      /* background-color: #ff4c4c;
      border-color: #ff4c4c; */
      background-color: #387BBF;
      border-color: #387BBF;
      box-shadow: 0px  17px 10px -10px rgba(0,0,0,0.4);
      font-weight: bold;
      font-size: 10px;
      border-radius: 0;
    }

    .btn-secondary:hover{
      /* inna wersja kolorystyczna */
      /* background-color: #f63232;
      border-color:#f63232 */
      background-color: #175491;
      border-color: #175491;
      box-shadow: 0px  37px 20px -20px rgba(0,0,0,0.2);
      transform: translate(0px, -10px) scale(1);
    }
